{% extends "index.html" %}
{% block content%}
    {% load static %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light  ">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <form action="" method="post">
            {% csrf_token %}
                <div>
                    <label for="" >Имя</label>
                    <div class="group">{{form.first_name}}</div>
                    <label for="">Фамилия</label>
                    <div class="group">{{form.last_name}}</div>
                    <label for="">Email</label>
                    <div class="group">{{form.username}}</div>
                    <label for="">Пароль</label>
                    <div class="group">{{form.password1}}</div>
                    <label for="">Подтвердите пароль</label>
                    <div class="group">{{form.password2}}</div>
            <div class="p-4">
            <button type="submit" class="btn btn-outline-dark">Регистрация</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"> </div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
{%endblock%}
