<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
    {% for product in products%}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative container">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{product.name}}</h3>
            <div><p>{{product.category.name}}</p></div>
          <p class="mb-auto">{{product.price}}</p>
          <a href="/product-detail/{{product.id}}" class="stretched-link">Читать</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="600" height="400" src="/media/{{ product.image }}">
        </div>
      </div>
    {%endfor%}
     {% for product in categories%}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative container">
            <h3 class="mb-0">{{product.name}}</h3>
      </div>
    {%endfor%}
</body>
</html>