{% extends "index.html" %}
{% load static %}
{% block title %}{{product.category.name}}{% endblock %}
{% block content %}

<div class="row p-5">
        <div class="col-md-4">
            {%if product.category.slug == 'smartfony'%}
                    <img src="{{ product.image.url }}" height="500">
              {%else%}
                <img class="css-adaptive" src="{{ product.image.url }}" height="400">
              {%endif%}
        </div>
        <div class="col-md-6">
            <h5>{{product.category.name}}</h5>
        <h2 class="blog-post-title">{{product.name}}</h2>
            <div class="p-2"><h3 class="blog-post-meta">{{product.price}} руб.</h3><hr></div>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">{% csrf_token %}
            {{ cart_product_form.quantity }}
            <input class="btn btn-dark" type="submit" value="Добавить в корзину">
            </form>
        </div>
</div>
        <h3><strong>Основные характеристики</strong></h3>
        <pre class="p-4"><font size="4">{{product.characteristics|safe}}</font></pre>
        <h3><strong>Описание</strong></h3>
        <pre class="p-4"><font size="4.1">{{product.description|safe}}</font></pre>
{%if username%}
<form action="{% url 'add_review' product.id %}" method="post" id="formReview" class="mt-4">
    {% csrf_token %}
    <h4><strong>Оставить отзыв</strong></h4>
    <div class="col-4 mb-4 p-4">
        <input type="hidden" name="parent" id="parent" value="">
        <div class="md-10">
            <textarea name="textcomm" id="comment" placeholder="Содержание" required cols="47" rows="5"></textarea>
        </div>
        <button type="submit" class=" btn btn-secondary  py-2" >
            Отправить
        </button>
    </div>
</form>
{%endif%}

    <h4><strong>Отзывы</strong></h4>
    <div class="p-4">
    {% for review in product.get_review %}
            <div class="media py-1">
                <img src="{% static 'img/avatar.png' %}" class="mr-1 img-fluid" alt="image" width="60">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                    <a href="#formReview"
                       onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                    {%for rew in review.reviews_set.all%}
                        <div class="media py-1">
                            <img src="{% static 'img/avatar.png' %}" class="mr-1 img-fluid" alt="image" width="60">
                            <div class="media-body mt-4">
                                <h5 class="mt-0 editContent">
                                    {{ rew.name }}
                                </h5>
                                <p class="mt-2 editContent">
                                    {{ rew.text }}
                                </p>
                            </div>
                    {%endfor%}
                </div>
            </div>
        {% endfor %}
</div>
    </div>
</div>
    <script>
        function addReview(name, id) {
            document.getElementById("parent").value = id;
            document.getElementById("comment").innerText = `${name}, `
        }

    </script>
{%endblock%}
