{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="p-5">
        <h2 class="blog-post-title">{{product.name}}</h2>
        <p class="blog-post-meta">{{product.price}}</p>
        <h4>{{product.category.name}}</h4>
        <hr>

        <hr>
        <pre><font size="4">{{product.description}}</font></pre>

    </div>
    <form action="{% url 'cart:cart_add' product.id %}" method="post">{% csrf_token %}
    {{ cart_product_form.quantity }}
    <input class="btn btn-dark" type="submit" value="Добавить в корзину">
</form>
</div>

{%endblock%}