{% extends "index.html" %}
{% block title %}Главная{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{%block auth%}
{% load static %}
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/registr.js' %}"></script>
  {% if username %}
    <a class="btn btn-outline-light" href="/auth/logout/">Выйти</a>
  {% else %}
    <div class="overlay" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content" id="loginTarget">
            <a class="close">x</a>
            <h3>Регистрация</h3>
                <form action="/auth/register/" method="post">
                  {% csrf_token %}
                <div>
                    <label for="">Имя</label>
                    <div class="group">{{form.first_name}}</div>
                    <label for="">Фамилия</label>
                    <div class="group">{{form.last_name}}</div>
                    <label for="">Email</label>
                    <div class="group">{{form.username}}</div>
                    <label for="">Пароль</label>
                    <div class="group">{{form.password1}}</div>
                    <label for="">Подтвердите пароль</label>
                    <div class="group">{{form.password2}}</div>
                <div class="p-4">
                    <button type="submit" class="btn btn-outline-dark">Регистрация</button>
                </div>
                </div>
            </form>
        </div>
    </div>
    </div>


    <button class="overlayLink btn btn-outline-light">Регистрация</button>
    <button class="message_head btn btn-outline-light">Войти</button>
    <div class="message_body" style="display: none;">
     <form action="/auth/login/" method="post" >{% csrf_token %}
       <input type="text" id="username1" name="username" class="form-control" placeholder="Your email">
        <input type="password" id="password1" name="password" class="form-control" placeholder="Password" required="" autofocus="">
       <button class="btn btn-outline-light btn-sm" type="submit">Войти</button>
     </form>
    </div>

  {% endif %}
{%endblock%}
{% block content %}

  <div class="">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Лучший интернет магазин</font></font></h1>
          <p class="lead font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">И еще более остроумный подзаголовок для загрузки. </font><font style="vertical-align: inherit;">Лучшее дизайн решение. Прям как у Apple</font></font></p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>

      <div class="d-md-flex flex-md-equal w-100  row">
          {%for category in cat%}
              <div class=" bg-light  text-center  col-12 col-sm-6 col-md-6 col-lg-6" style=" height: 302px;">
                <a href="{{category.get_absolute_url}}" style="color:black">
                    <div class="my-3 py-3 ">
                        <h2 class="display-5">{{category.name}}</h2>
                    </div>
                    <div class=" mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="{{category.img.url}}"></div>
                </a>
              </div>
          {%endfor%}
      </div>
      <h3 class="p-2"><strong>Хиты продаж</strong></h3><hr>
      <div class="row p-4">
         {% for product in hot_price%}
          <div class="col-md-3">
            <div>
              {%if product.category.slug == 'smartfony'%}
                <img src="{{ product.image.url }}"  height="170">
              {%else%}
                <img class="css-adaptive" src="/media/{{ product.image }}" width="170" height="130">
              {%endif%}
          </div>
            <h5 class="mb-0">{{product.name}}</h5>
              <div><p>✮✮✮✮☆</p></div>
            <span class="mb-auto"><font  face="Arial">{{product.price}} руб.</font></span>
            <a href="{{product.get_absolute_url}}" class="stretched-link"></a>
          </div>
        {%endfor%}
      </div>
      <h3 class="p-2"><strong>Успейте купить</strong></h3><hr>
      <div class="row p-4">
         {% for product in little_price%}
          <div class="col-md-3">
            <div>
              {%if product.category.slug == 'smartfony'%}
                <img src="{{ product.image.url }}"  height="170">
              {%else%}
                <img class="css-adaptive" src="{{ product.image.url }}" width="170" height="130">
              {%endif%}
          </div>
            <h5 class="mb-0">{{product.name}}</h5>
              <div><p>✮✮✮✮☆</p></div>
            <span class="mb-auto"><font  face="Arial">{{product.price}} руб.</font></span>
            <a href="{{product.get_absolute_url}}" class="stretched-link"></a>
          </div>
        {%endfor%}
      </div>
      <h3 class="p-2"><strong>Лучшие новинки</strong></h3><hr>
      <div class="row p-4">
         {% for product in new_price%}
          <div class="col-md-3">
            <div>
              {%if product.category.slug == 'smartfony'%}
                <img src="{{ product.image.url }}"  height="170">
              {%else%}
                <img class="css-adaptive" src="/media/{{ product.image }}" width="170" height="130">
              {%endif%}
          </div>
            <h5 class="mb-0">{{product.name}}</h5>
              <div><p>✮✮✮✮☆</p></div>
            <span class="mb-auto"><font  face="Arial">{{product.price}} руб.</font></span>
            <a href="{{product.get_absolute_url}}" class="stretched-link"></a>
          </div>
        {%endfor%}
      </div>
  </div>
{%endblock%}